# Pastas geradas pelo Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emory[Cc]aptures/

# Builds (a Entrega 2 usa a pasta EXECUTÁVEIS)
/[Bb]uild/
/[Bb]uilds/

# IDE
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.userprefs

# Gerados pelo Unity
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage